# Ignore image, document, and netCDF files
*.jpeg
*.jpg
*.png
*.pdf
*.docx
*.xlsx
*.nc
*.mp4
*.mat


*/sql_config.ini
*/config.ini
*/log.txt
log.txt

# Ignore Python bytecode and Jupyter Notebook checkpoints
*.pyc
*-checkpoint.ipynb
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
*/.ipynb_checkpoints/

# Ignore trash directory
trash/*

# Ignore data management directory checkpoints
/data_mng/.ipynb_checkpoints

# VS Code specific files and folders
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Ignore IPython configuration and profile
profile_default/
ipython_config.py

# Ignore Python distribution, build, and packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore PyInstaller files
*.manifest
*.spec

# Ignore installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ignore test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Ignore translations
*.mo
*.pot

# Ignore Django related files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Ignore Flask instance and web assets cache
instance/
.webassets-cache

# Ignore Scrapy cache
.scrapy

# Ignore Sphinx documentation build
docs/_build/

# Ignore PyBuilder files
.pybuilder/
target/

# Ignore Python environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore Python tool configurations
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
.pdm.lock

# Ignore SageMath parsed files
*.sage.py

# Ignore Spyder and Rope project settings
.spyderproject
.spyproject
.ropeproject

# Ignore mkdocs build
/site

# Ignore mypy, Pyre, pytype, and Cython debug files
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Ignore PyCharm IDE folder
.idea/

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore specific notebooks
notebooks/Interactive-1.ipynb

#### LINUX

# Ignore all cookies files
*.cookies
cookies.txt

# Ignore .netrc files
.netrc
netrc.*

# Ignore all system files generated by the OS
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
.cache
.config
.local
.Trash-*

# Ignore all files related to package management and builds
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
*.egg-info/
*.egg
.eggs/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.log
*.out
*.class
*.o
*.so
*.d
*.lo
*.la
*.a
*.lib
*.obj
*.dll
*.exe
*.idb
*.pdb
*.ilk
*.DS_Store
*.lock

# Ignore virtual environments
.env/
.venv/
ENV/
env/
venv/

# Ignore IDEs and editors specific files
.idea/
.vscode/
.project
.settings/
*.sublime-project
*.sublime-workspace
*.tmproj
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.dir-locals.el

# Ignore logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.pid
*.seed
*.pid.lock

# Ignore miscellaneous files
*.pid
*.seed
*.pid.lock

# Ignore all cookies files
*.cookies
cookies.txt

# Ignore netrc files
.netrc
netrc.HeQJFJOhD8

# Ignore system-specific files
*~ 
\#*\#
.#*
*\#*
*\#*\#
*.orig
